= form_for(@game_result) do |f|
  - if @game_result.errors.any?
    .alert.alert-error
      %h2
        = pluralize(@game_result.errors.count, "error")
        prohibited this game_result from being saved:
      %ul
        - @game_result.errors.full_messages.each do |msg|
          %li= msg
  %hr
  %table.table
    %tr
      %td
        = f.label :scheduled_at
      %td
        = f.text_field :scheduled_at, id: 'datepicker'
    %tr
      %td
        = f.label :winning_type
      %td   
        = f.collection_select(:winning_type, @winning_types, :id, :label, :selected => @game_result.winning_type.nil? ? nil : @game_result.winning_type.id, :include_blank => true)
    %tr
      %th
      %th Shop
      %th Score
    %tr
      %td Home
      %td
        = f.collection_select(:home_shop, @shops, :id, :name, :selected => @game_result.home_shop.nil? ? nil : @game_result.home_shop.id, :include_blank => true)
      %td 
        = f.text_field :home_score        
    %tr
      %td Away
      %td
        = f.collection_select(:away_shop, @shops, :id, :name, :selected => @game_result.away_shop.nil? ? nil : @game_result.away_shop.id, :include_blank => true)
      %td
        = f.text_field :away_score
  .actions
    = f.submit

