%h1
  = t 'index.title'
%hr
= button_to t('index.new'), new_game_result_path, :method => :get, :class => 'btn btn-large'
%br
%table.table.table-striped
  %tr
    %th
      = t 'index.date'
    %th
      = t 'index.home_shop'
    %th
      = t 'index.away_shop'
    %th
      = t 'index.home_score'
    %th
      = t 'index.away_score'
    %th
    %th
  - @game_results.each do |game_result|
    %tr
      %td= game_result.scheduled_at
      %td= game_result.home_shop.name
      %td= game_result.away_shop.name
      %td= game_result.home_score
      %td= game_result.away_score
      %td= link_to t('index.edit'), edit_game_result_path(game_result), :class => 'icon-edit'
      %td= link_to t('index.delete'), game_result, method: :delete, data: { confirm: t('index.confirm.message') }, :class => 'icon-remove'
