%h1 Game Result
-#%p#notice= notice
%form{:action=>new_game_result_path, :method=>'get'}
  %button{:type=>'submit'} New game result
%br
%table.table.table-striped
  %tr
    %th Date
    %th Home shop
    %th Away shop
    %th Home score
    %th Away score
    %th
    %th
  - @game_results.each do |game_result|
    %tr
      %td= game_result.scheduled_at
      %td= game_result.home_shop.name
      %td= game_result.away_shop.name
      %td= game_result.home_score
      %td= game_result.away_score
      %td= link_to 'Edit', edit_game_result_path(game_result), :class => 'icon-edit'
      %td= link_to 'Delete', game_result, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-remove'
