%p#notice= notice
%p
  %b Scheduled at:
  = @game_result.scheduled_at
%p
  %b Home shop:
  = @game_result.home_shop_id
%p
  %b Away shop:
  = @game_result.away_shop_id
%p
  %b Winning type:
  = @game_result.winning_type_id
%p
  %b Home score:
  = @game_result.home_score
%p
  %b Away score:
  = @game_result.away_score
= link_to 'Edit', edit_game_result_path(@game_result)
|
\#{link_to 'Back', game_results_path}
