= form_for @shop do |f|
  - if @shop.errors.any?
    .alert.alert-error    
      %ul
        - @shop.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  = link_to 'New Player', new_player_path

  %table
  - @shop.players.each do | player |
    %tr
      %td= player.name
      %td= link_to 'Show', player
      %td= link_to 'Edit', edit_player_path(player)
      %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .actions
    = f.submit 'Save'
