= form_for(@game) do |f|
  - if @game.errors.any?
    .alert.alert-error    
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  .row
    .span2.offset1
      = f.label :scheduled_at
    .span9
      = f.text_field :scheduled_at, id: 'datepicker'
  .row
    .span2.offset1
      = f.label :winning_type
    .span9
      = f.collection_select(:winning_type, @winning_types, :id, :label, :selected => @game.winning_type.nil? ? nil : @game.winning_type.id, :include_blank => true)
  .row.hidden-phone
    .span4.offset3
      = t '_form.home'
    .span4
      = t '_form.away'
  .row
    .span2.offset1
      = t '_form.shop'
    .span1.visible-phone
      = t '_form.home'
    .span4
      = f.collection_select(:home_shop, @shops, :id, :name, :selected => @game.home_shop.nil? ? nil : @game.home_shop.id, :include_blank => true)
    .span1.visible-phone
      = t '_form.away'
    .span4
      = f.collection_select(:away_shop, @shops, :id, :name, :selected => @game.away_shop.nil? ? nil : @game.away_shop.id, :include_blank => true)
  .row
    .span2.offset1
      = t '_form.score'
    .span1.visible-phone
      = t '_form.home'
    .span4
      = f.text_field :home_score
    .span1.visible-phone
      = t '_form.away'
    .span4
      = f.text_field :away_score
  %br/
  .row
    .span1.offset1
      = f.submit nil, :class => 'btn'
.span1
  = button_to t('back'), games_path, :method => :get, :class => 'btn'

