= form_for @player do |f|
  - if @player.errors.any?
    .alert.alert-error    
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :shop
    = f.collection_select(:shop, @shops, :id, :name, :selected => @player.shop.nil? ? nil : @player.shop.id, :include_blank => true)
  .actions
    = f.submit 'Save'
